<h1>Profile</h1>

<p>Username: {{username}}</p>

<p>Email: {{email}}</p>

<p>FirstName: {{firstName}}</p>

<p>LastName: {{lastName}}</p>

<p>Phone Number: {{phonenumber}}</p>

<p>Date Of Birth(YYYY-MM-DD): {{dob}}</p>

{{#if meetingList.length}}
    <p>Meeting history:</p>
    <ul>
        {{#each meetingList}}
            <li>{{this}}</li>
        {{/each}}
    </ul>

{{else}}
    <p class="meeting-not-found">No meeting found</p>

{{/if}}
{{#if profilePic}}
    <img style="border-radius: 50%; width:150px;"src="{{{profilePic}}}" alt="Image description">
    <button url="{{profilePic}}">download</button>
{{else}}
    <p class="meeting-not-found">No Profile Pic found</p>
{{/if}}
<br>   
<a id="Edit Profile" href="/editprofile">Edit Profile</a>